.heading
{
    box-shadow: 5px 5px 5px gray;
    width: 100%;
    margin: 0px;
    font-size: 25px;
    padding-left: 30px;
}
 
.note
{
    color: black;
    font-size: 20px;
}

.song
{
    font-size: 25px;
}

body 
{
    background-size: cover;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}